<a href="https://colab.research.google.com/github/HVTrieuDuong/Tr-tu-nh-n-t-o-HCMUTE/blob/main/Tuan3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Load library
import pandas as pd
# Create DataFrame
dataframe = pd.DataFrame()
# Add columns
dataframe['Name'] = ['Chanh', 'Táo', 'Chuối']
dataframe['Price'] = [5,8,7]
dataframe['License'] = [False, True, True]
# Show DataFrame
dataframe
df = dataframe

In [3]:
df.loc[(df.Price == 5)|(df.Name == 'Chuối')]

    Name  Price  License
0  Chanh      5    False
2  Chuối      7     True

In [4]:
df.iloc[0:2,0:-1]

    Name  Price
0  Chanh      5
1    Táo      8

In [5]:
new=pd.Series(['Cam',10, True],index= ['Name','Price','License'])
df.append(new,ignore_index=True)

    Name  Price  License
0  Chanh      5    False
1    Táo      8     True
2  Chuối      7     True
3    Cam     10     True